@page "/accordionTester"
<input type="checkbox" @bind="Multiple" id="mult"/>

<label for="mult">Available Multiple</label>
<RadzenAccordion Multiple="@Multiple"
                 Collapse=@(args => Change(args, "collapsed"))
                 Expand=@(args => Change(args, "expanded"))>
    <Items>
        <RadzenAccordionItem Text="Orders" Icon="account_balance_wallet">
            Details for Orders
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Employees" Icon="account_box">
            Details for Employees
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Customers" Icon="accessibility">
            Details for Customers
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>

@code {
    bool Multiple = false;
    void Change(object value, string action)
    {
        Console.WriteLine($"Item with index {value} {action}");
    }
}
