@page "/buttonTester"
<RadzenSplitButton Click=@OnClick Text="SplitButton" Icon="account_circle">
    <ChildContent>
        <RadzenSplitButtonItem Text="Item1" Value="1" Icon="account_box" />
        <RadzenSplitButtonItem Text="Item2" Value="2" Icon="account_balance_wallet" />
    </ChildContent>
</RadzenSplitButton>
<div>@text</div>

@code {
    string text;
    void OnClick(RadzenSplitButtonItem item)
    {
        if (item != null)
            text = $"Item with value {item.Value} clicked";
        else
            text = $"Button clicked";
    }
}
